@import '~antd/dist/antd.css'; 

* {
  padding:0;
  margin:0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

body {
  padding:20px 30px
}

.ant-card {
  margin-bottom: 20px !important;
}

.thumbnail {
  width: 100%;
}

.newslink {
  display: block;
}

.ant-card-meta-description {
  line-height: 1.3em;
  height:3.9em
}